/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
//@import url('../../bootstrap/dist/css/xs/xs-col.min.css');
//@import url('../../bootstrap/dist/css/md/md-col.min.css');
//@import url('../../bootstrap/dist/css/lg/lg-col.min.css');
@import url('../../assets/bootstrap/dist/css/xs/xs-align-self.min.css');
@import url('../../assets/bootstrap/dist/css/md/md-align-self.min.css');
@import url('../../assets/bootstrap/dist/css/lg/lg-align-self.min.css');
@import url('../../assets/bootstrap/dist/css/xs/xs-flex-basis.min.css');
@import url('../../assets/bootstrap/dist/css/md/md-flex-basis.min.css');
@import url('../../assets/bootstrap/dist/css/lg/lg-flex-basis.min.css');
[data-type='bootstrap-blocks/column'] {
	border: 1px dotted #388e3c;
	padding: 10px;
}
.col {
  flex: 1 0 0%;
}

.row > .col-auto {
  flex: 0 0 auto;
  width: auto;
}

.row > .col-1 {
  flex: 0 0 auto;
  width: 1.83%;
}

.row > .col-2 {
  flex: 0 0 auto;
  width: 8.16%;
}

.row > .col-3 {
  flex: 0 0 auto;
  width: 16.5%;
}

.row > .col-4 {
  flex: 0 0 auto;
  width: 24.83%;
}

.row > .col-5 {
  flex: 0 0 auto;
  width: 33.17%;
}

.row > .col-6 {
  flex: 0 0 auto;
  width: 42%;
}

.row > .col-7 {
  flex: 0 0 auto;
  width: 49.83%;
}

.row > .col-8 {
  flex: 0 0 auto;
  width: 58.17%;
}

.row > .col-9 {
  flex: 0 0 auto;
  width: 66.5%;
}

.row > .col-10 {
  flex: 0 0 auto;
  width: 74.83%;
}

.row > .col-11 {
  flex: 0 0 auto;
  width: 83.17%;
}

.row > .col-12 {
  flex: 0 0 auto;
  width: 91.5%;
}

.offset-1 {
  margin-left: 1.83%;
}

.offset-2 {
  margin-left: 8.16%;
}

.offset-3 {
  margin-left: 16.5%;
}

.offset-4 {
  margin-left: 24.83%;
}

.offset-5 {
  margin-left: 33.17%;
}

.offset-6 {
  margin-left: 42%;
}

.offset-7 {
  margin-left: 49.83%;
}

.offset-8 {
  margin-left: 58.17%;
}

.offset-9 {
  margin-left: 66.5%;
}

.offset-10 {
  margin-left: 74.83%;
}

.offset-11 {
  margin-left: 83.17%;
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

.row >  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

.row > .col-md-1 {
    flex: 0 0 auto;
    width: 4.83%;
  }

.row > .col-md-2 {
    flex: 0 0 auto;
    width: 13.16%;
  }

.row > .col-md-3 {
    flex: 0 0 auto;
    width: 21.5%;
  }

.row > .col-md-4 {
    flex: 0 0 auto;
    width: 29.83%;
  }

.row > .col-md-5 {
    flex: 0 0 auto;
    width: 38.17%;
  }

.row > .col-md-6 {
    flex: 0 0 auto;
    width: 46.5%;
  }

.row > .col-md-7 {
    flex: 0 0 auto;
    width: 54.8%;
  }

.row > .col-md-8 {
    flex: 0 0 auto;
    width: 63.17%;
  }

.row > .col-md-9 {
    flex: 0 0 auto;
    width: 71.5%;
  }

.row > .col-md-10 {
    flex: 0 0 auto;
    width: 79.8;
  }

.row > .col-md-11 {
    flex: 0 0 auto;
    width: 88.17%;
  }

.row > .col-md-12 {
    flex: 0 0 auto;
    width: 96.5%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

 .offset-md-1 {
    margin-left: 4.83%;
  }

 .offset-md-2 {
    margin-left: 13.16%;
  }

 .offset-md-3 {
    margin-left: 21.5%;
  }

.offset-md-4 {
    margin-left: 22.33333333%;
  }

 .offset-md-5 {
    margin-left: 29.83%;
  }

 .offset-md-6 {
    margin-left: 46.5%;
  }

 .offset-md-7 {
    margin-left: 54.8%;
  }
 .offset-md-8 {
    margin-left: 63.17%;
  }

.offset-md-9 {
    margin-left: 71.5%;
  }

.offset-md-10 {
    margin-left: 79.8%;
  }

.offset-md-11 {
    margin-left: 88.17%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

.row >  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

.row > .col-lg-1 {
    flex: 0 0 auto;
    width: 5.33333333%;
  }

.row > .col-lg-2 {
    flex: 0 0 auto;
    width: 13.66666667%;
  }

.row > .col-lg-3 {
    flex: 0 0 auto;
    width: 22%;
  }

.row > .col-lg-4 {
    flex: 0 0 auto;
    width: 30.33333333%;
  }

.row > .col-lg-5 {
    flex: 0 0 auto;
    width: 38.66666667%;
  }

.row > .col-lg-6 {
    flex: 0 0 auto;
    width: 47%;
  }

.row > .col-lg-7 {
    flex: 0 0 auto;
    width: 55.33333333%;
  }

.row > .col-lg-8 {
    flex: 0 0 auto;
    width: 63.66666667%;
  }

.row > .col-lg-9 {
    flex: 0 0 auto;
    width: 72%;
  }

.row > .col-lg-10 {
    flex: 0 0 auto;
    width: 80.33333333%;
  }

 .row > .col-lg-11 {
    flex: 0 0 auto;
    width: 88.66666667%;
  }

.row > .col-lg-12 {
    flex: 0 0 auto;
    width: 97%;
  }

 .offset-lg-0 {
    margin-left: 0;
  }

.offset-lg-1 {
    margin-left: 5.33333333%;
  }

.offset-lg-2 {
    margin-left: 13.66666667%;
  }

.offset-lg-3 {
    margin-left: 22%;
  }

 .offset-lg-4 {
    margin-left: 30.33333333%;
  }

.offset-lg-5 {
    margin-left: 38.66666667%;
  }

 .offset-lg-6 {
    margin-left: 47%;
  }

.offset-lg-7 {
    margin-left: 55.33333333%;
  }

 .offset-lg-8 {
    margin-left: 63.66666667%;
  }

 .offset-lg-9 {
    margin-left: 72%;
  }

 .offset-lg-10 {
    margin-left: 80.33333333%;
  }

 .offset-lg-11 {
    margin-left: 88.66666667%;
  }
}
