/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 [data-type='bootstrap-blocks/collapse-content'] {
 	border: 1px dotted #303F9F;
  padding: 10px;
  margin: 0px 0px 10px 0px;
 }
